::before, ::after, * {
  box-sizing: border-box;
}

:root {
  --rich-black: #0d1b2aff;
  --oxford-blue: #1b263bff;
  --yinmn-blue: #415a77ff;
  --silver-lake-blue: #778da9ff;
  --platinum: #e0e1ddff;
}

/* MAIN */
img {
  width: 100%;
  display: block;
}

.active {
  display: flex!important;
}

.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.main-content {
  border: 1px solid var(--rich-black);
}

/* NAVBAR */
.navbar {
  border: 1px solid var(--rich-black);
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: static;
}

/* SIDEBAR */
.sidebar {
  border: 1px solid var(--rich-black);
  display: none;
}

/* APPLICATIONS */

/* MEDIA QUERIES */
@media screen and (max-width: 576px) {
  .sidebar {
    display: none;
  }
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
  .sidebar {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
}





